<h1>La liste des formations</h1>
<h3>Le nombre de formations est {{f|length}}</h3>
{# recherche max #}
{% set maxV=0 %}
{% for j in f %}
{% set maxV=max(maxV,j.nb_participants) %}
{% endfor %}
{# somme participants #}
{% set s=0 %}
{% for k in f %}
{% set s=s+k.nb_participants %}
{% endfor %}
<h3>la somme des participants est {{s}}</h3>
<table border="2">
<tr>
  <th>Référence</th>
  <th>Titre</th>
  <th>Description</th>
  <th>NombreP</th>
  <th>Action</th>
</tr>
<tr>
  {% for i in f %}
  {#{% if 'theorique' in i.Description %}#}
  {#{% if maxV==i.nb_participants %}#}
  <td>{{i.ref}}</td>
  <td>{{i.Titre|upper}}</td>
  <td>{{i.Description}}</td>
  <td>{{i.nb_participants}}</td>

<td><form action="{{path('detailF',{'titre':i.Titre}) }}">
  <button>Participer</button></form>
  <!--   ou bien aussi autre méthode-->
  <a href="{{path('detailF',{'titre':i.Titre }) }}">participer</a></td>
</tr>

{#{% endif %}#}
{#{% endif %}#}
{% endfor %}

</table>